.navbar-con
{
    background-color: rgba(165, 42, 42, 0.85);
    width: 100%;
    position: fixed;
    align-content: center;
    display: flex;
    justify-content: space-between;
}
.navbar-con{

    top: 1%;

}
.footbar-con
{

    background-color: rgba(165, 42, 42, 0.6);
    width: 100%;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: space-between;
    bottom: 90px;

}

.title {
    font-size: 90px;
    position: absolute;
    left: 20%;
    right: 10%;
    top: 40%;
        color: rgb(250, 183, 89);

    -webkit-transform: rotate(-10deg);
}
.subtitle{
        font-size: 50px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 60%;
    color: rgba(165, 42, 42, 0.8);
    -webkit-transform: rotate(-10deg);
}


.footbar, .navbar, p {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    color: orange;
    text-decoration: none;
    border: 1px solid grey;

    background-color: rgba(200 , 200, 200, .2);



}

.logo{
    background-color: rgba(199, 187, 15, 0.6)
    padding: 20px;
    width: 80px;
    height: 80px;
}